In [1]:
# Linear Regression

In [2]:
import pandas as pd
df = pd.read_csv("Salary_Data.csv")
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
df.shape # row and columns

(30, 2)

In [46]:
# split the data into 2 variables, x = years of exp and y = salary
x = df.drop('Salary', axis=1)
y = df.Salary

In [47]:
x.head()

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [48]:
y.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [49]:
# Splitting the data into 70-30
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0, test_size = 0.30) # random_state = 0 : no shuffling of data

In [50]:
x_test.shape

(9, 1)

In [51]:
# model fitting
from sklearn.linear_model import LinearRegression
clf = LinearRegression() # classifier
clf.fit(x_train, y_train)

LinearRegression()

In [52]:
# prediction
y_predict = clf.predict(x_test)
y_predict

array([ 40817.78327049, 123188.08258899,  65154.46261459,  63282.41035735,
       115699.87356004, 108211.66453108, 116635.89968866,  64218.43648597,
        76386.77615802])

In [53]:
y_test

2      37731.0
28    122391.0
13     57081.0
10     63218.0
26    116969.0
24    109431.0
27    112635.0
11     55794.0
17     83088.0
Name: Salary, dtype: float64

In [54]:
# Evaluation : score
from sklearn import metrics
r2 = metrics.r2_score(y_test, y_predict)
r2

0.9740993407213511

In [55]:
print(metrics.mean_absolute_error(y_test, y_predict))

3737.417861878896

In [56]:
print(clf.predict([[5]]))

[73578.69777217]

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [57]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.regplot(x,y)
plt.show()

TypeError: regplot() takes from 0 to 1 positional arguments but 2 were given