In [1]:
# Multiple LR

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("DATA.csv")

In [4]:
df.head()

          Car       Model  Volume  Weight  CO2  Unnamed: 5
0      Toyota        Aygo    1000     790   99         NaN
1  Mitsubishi  Space Star    1200    1160   95         NaN
2       Skoda      Citigo    1000     929   95         NaN
3        Fiat         500     900     865   90         NaN
4        Mini      Cooper    1500    1140  105         NaN

In [7]:
x = df[['Weight', 'Volume']]
y = df['CO2']

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0, test_size = 0.30)

In [9]:
clf = LinearRegression()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [10]:
y_pred

array([105.18884645, 101.50616906, 101.37403687, 106.00000898,
       105.85520658, 101.35291985,  96.66057997,  95.73357552,
        98.45908129, 105.16410937, 105.17617624])

In [13]:
# Multiple Linear Regression
predictedCO2 = clf.predict([[2300, 1300]]) # predict co2 emission of car where weight is 2300kg and volume is 1300

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [14]:
print(predictedCO2)

[99.24946107]

In [15]:
# metrics
from sklearn import metrics
r2 = metrics.r2_score(y_test, y_pred)
r2

0.35718445786403097